@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

body {
font-family: "Rubik";
margin: 0px;
background-color: #ffff;
}

nav {
background-color: #292828;
position: static;
display: inline-block;
margin: 0px;
width: 100%;
outline: none;
height: 50px;
}

ul {
display: inline-block
}

li {
display: inline-block;
}

a {
text-decoration: none;
color: white;
padding: 5px;
border: solid 2px ;
border-radius: 6px;
border-color: #fff0;
transition:all 0.3s ease;
font-size: 17px;
outline: none;
margin-left: 10px;
}

a:hover {
    background-color: #504e4e;
}

.logo {
    width: 46px;
    height: 46px;
    overflow: hidden;
    margin-bottom: -15px;
    margin-left: 5px;
    margin-right: 20px;
}

.login {
margin-top: 100px;
}

.login-logo {
width: 100px;
border-radius: 50%;
margin-left: auto;
margin-right: auto;
display: block;
margin-bottom: 5px;
}

.login-button {
width: 60px;
padding: 10px;
border: none;
border-radius: 6px;
border-color: #333;
background-color: #333;
transition:all 0.3s ease;
color: white;
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
outline: none;
}

.login-button:hover {
background-color:  #424040;
}

h1 {
    text-align: center;
    color: black;
}

.password {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #333;
    color: white;
    border-color: #fff0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
    outline: none;
}

.name {
text-align: center;
margin-bottom: 6px;
}

.input-tryout {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #333;
    color: white;
    border-color: #fff0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
    outline: none;
}

.input-tryout:hover {
    border: #ffffff solid 1px;
}

.submit-button {
    padding: 10px;
    border: none;
    color: white;
    border-radius: 6px;
    background-color: #333;
    margin-left: auto;
    margin-right: auto;
    display: block;
    outline: none;
}

.freestyle-video {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    background-color: #bbbbbb;
}

.home-header {
    font-family: "Poppins";
}

.tryout-select {
    border: none;
    padding: 10px;
    background-color: #333;
    border-radius: 6px;
    color: white;
    outline: none;
    border-color: grey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 175px;
    font-size: 15px;
}

.xeno-description {
    font-size: 30px;
    width: 700px;
    float: left;
    margin-left: 56px;
}

.xeno-div {
margin-left: auto;
margin-right: auto;
display: block;
}

@media (max-width: 1260px) {
    .freestyle-video {
        float: left;
    }
    }

    .footer {
        position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
    }

    .join-server {
        background-color: #333;
        margin-left: 56px;
        transition: all 0.3s ease;
    }
/* css for contact */
    .avatar {
        border-radius: 50%;
        width: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .avatar-div {
        display: inline-block;
        padding: 25px;
        background-color: #333;
        border-radius: 25px;
        margin: 5px;
        width: 210px;
        height: 200px;
    }

    .row-1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .row-2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .tag {
        color: grey;
        font-size: 20px;
    }

    .contact-description {
        text-align: center;
        margin-bottom: 6px;
        color: white;
    }

    .contact-title {
        text-align: center;
        color: white;
    }

    .login-button-nav {
        float: right;
        margin-top: 8px;
        margin-right: 5px;
    }

    .nav-item {

    }

    .login-item {

    }

    .login-item:hover {
        background-color: #504e4e;
    }

    nav-item:hover {
        background-color: #504e4e;
    }