@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

body {
font-family: "Rubik";
margin: 0px;
background-color: #ffff;
background-image: url("https://wallpapercave.com/wp/wp4871428.jpg");
background-position: center;
}

nav {
background-color: #292828;
position: static;
display: inline-block;
margin: 0px;
width: 100%;
outline: none;
height: 50px;
}

ul {
display: inline-block
}

li {
display: inline-block;
}

a {
text-decoration: none;
color: white;
padding: 5px;
border: solid 2px ;
border-radius: 6px;
border-color: #fff0;
transition:all 0.3s ease;
font-size: 17px;
outline: none;
margin-left: 10px;
}

a:hover {
    background-color: #504e4e;
}

.logo {
    width: 46px;
    height: 46px;
    overflow: hidden;
    margin-bottom: -15px;
    margin-left: 5px;
    margin-right: 20px;
}

.login {
margin-top: 126px;
}

.login-logo {
width: 100px;
border-radius: 50%;
margin-left: auto;
margin-right: auto;
display: block;
margin-bottom: 5px;
}

.login-button {
width: 60px;
padding: 10px;
border: none;
border-radius: 6px;
border-color: #333;
background-color: #333;
transition:all 0.3s ease;
color: white;
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
outline: none;
}

.login-button:hover {
background-color:  #424040;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px #292828;
}

.password {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #333;
    color: white;
    border-color: #fff0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
    outline: none;
}

.name {
text-align: center;
margin-bottom: 6px;
color: white;
}

.input-tryout {
    padding: 10px;
    border: #333 1px solid;
    border-radius: 6px;
    background-color: #333;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
    outline: none;
    box-shadow: 2px 2px 5px #292828fc;
}

.input-tryout:hover {
    border: #ffffff solid 1px;
}

.submit-button {
    padding: 10px;
    border: none;
    color: white;
    border-radius: 6px;
    background-color: #333;
    margin-left: auto;
    margin-right: auto;
    display: block;
    outline: none;
}

.freestyle-video {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
    background-color: #bbbbbb;
}

.home-header {
    font-family: "Poppins";
    color: white;
}

.tryout-select {
    border: none;
    padding: 10px;
    background-color: #333;
    border-radius: 6px;
    color: white;
    outline: none;
    border-color: grey;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 175px;
    font-size: 15px;
}

.xeno-description {
    font-size: 30px;
    width: 700px;
    float: left;
    margin-left: 56px;
    color: white;
    font-weight: bold;
}

.xeno-div {
margin-left: auto;
margin-right: auto;
display: block;
}

@media (max-width: 1260px) {
    .freestyle-video {
        float: left;
    }
    }

    .footer {
        position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
    }

    .join-server {
        background-color: #333;
        margin-left: 56px;
        transition: all 0.3s ease;
        position: absolute;
        margin-top: -145px;
    }
/* css for contact */
    .avatar {
        border-radius: 50%;
        width: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .avatar-div {
        display: inline-block;
        padding: 25px;
        background-color: #333;
        border-radius: 25px;
        margin: 5px;
        width: 210px;
        height: 200px;
        box-shadow: 2px 2px 5px #292828fc;
    }

    .row-1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .row-2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .tag {
        color: grey;
        font-size: 20px;
    }

    .contact-description {
        text-align: center;
        margin-bottom: 6px;
        color: white;
    }

    .contact-title {
        text-align: center;
        color: white;
    }

    .login-nav {
        float: right;
        margin-top: 8px;
        margin-right: 5px;
    }

    .login-item:hover {
        background-color: #504e4e;
    }

    nav-item:hover {
        background-color: #504e4e;
    }

    .footer-h1 {
        color: white;
    }

    .footer-list {
        margin-top: 10px;
    }
    
    /* iPhone 6/7/8 */
    @media only screen and (max-width: 1260px) {
        .xeno-description {
            font-size: 15px;
            margin-left: 0px;
            width: 375px;
            float: none;
        }
    }

    @media (max-width: 1260px) {
.freestyle-video {
width: 375px;
}
}

@media only screen and (max-width: 375px) {

.join-server {
    margin-left: auto;
    transition: all 0.3s ease;
    margin-right: auto;
    display: block;
    width: 190px;
    margin-top: 10px;
    position: static;
}
}

/* iPhone 6/7/8 Plus  */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
        .xeno-description {
            font-size: 20px;
            width: 375px;
        }
    }

    @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
        .freestyle-video {
            width: 414px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

@media only screen and (max-width: 736px) {
    .xeno-description {
    font-size: 20px;
    width: 414px;
    }
}

@media only screen and (max-width: 736px) {
    .freestyle-video {
    width: 414px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
}

/* iPhone X */
@media only screen and (max-device-width : 812px) {
    .xeno-description {
        width: 375px;
        font-size: 15px;
    }
}

@media only screen and (max-device-width : 812px) {
    .freestyle-video {
        width: 375px;
    }
}

/* iPhone 11 */
@media only screen and (device-width: 414px) {
    .freestyle-video {
        width: 414px;
    }
    }

    @media only screen and (device-width: 414px) {
        .xeno-description {
            width: 414px;
        }
        }

        @media only screen and (device-width: 375px) {
            .freestyle-video {
                width: 375px;
            }
            }

            @media only screen and (device-width: 375px) {
                .xeno-description {
                    width: 375px;
                }
                }
                @media only screen and (max-width: 375px) {

                    .join-server {
                        margin-left: auto;
                        transition: all 0.3s ease;
                        margin-right: auto;
                        display: block;
                        width: 190px;
                        margin-top: 10px;
                        position: static;
                        visibility: hidden;
                    }
                    }

/* iPhone 12 */
@media only screen and (device-width: 390px) {
.freestyle-video {
    width: 390px;
}
}

@media only screen and (device-width: 390px) {
    .xeno-description {
        width: 390px;
    }
    }
